body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  flex: 1;
}

/* footer */
.f-info {
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
  text-align: center;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-social,
.f-info-links,
.f-info-brand {
  width: 100%;
  vertical-align: middle;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-social i {
  font-size: 1.75rem;
  margin-right: 1rem;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.navbar {
  height: 5rem;
  background-color: white;
}

.nav-link {
  color: #222222 !important;
}

.icon {
  color: green;
}

.right {
  position: absolute;
  right: 10px;
}
