<% layout("/layouts/boilerplate.ejs") %>
<body>
  <%- include("../includes/dash-nav.ejs") %>
  <div class="container">
    <div class="msg">Welcome Back!</div>
  </div>
  <%- include('../includes/accord.ejs') %>
</body>
