<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseOne"
          aria-expanded="false"
          aria-controls="flush-collapseOne"
        >
          Who We Are?
        </button>
      </h2>
      <div
        id="flush-collapseOne"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          We are <code>DevSquad</code>, a dedicated Platform For
          <code>Beginner Investors</code>. Our mission is to bridge the gap
          between complex financial markets and those just starting their
          journey. We believe that everyone should have access to the tools and
          knowledge required to build long-term wealth, regardless of their
          starting capital.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseTwo"
          aria-expanded="false"
          aria-controls="flush-collapseTwo"
        >
          What We Do?
        </button>
      </h2>
      <div
        id="flush-collapseTwo"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          We provide a streamlined, user-friendly environment where novice
          investors can learn, strategize, and execute trades. Our core features
          include: Educational Modules: Simplified breakdowns of market
          terminology. Community Insights: A space to discuss trends with fellow
          beginners.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#flush-collapseThree"
          aria-expanded="false"
          aria-controls="flush-collapseThree"
        >
          Need Help?
        </button>
      </h2>
      <div
        id="flush-collapseThree"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionFlushExample"
      >
        <div class="accordion-body">
          If you encounter any issues or have questions about using our
          interface, we are here to support you.
        </div>
      </div>
    </div>
  </div>
</body>
