<% layout("/layouts/boilerplate.ejs") %>
<body>
  <div class="row">
    <div class="col-8 offset-2 mt-5">
      <br />
      <h2>Hey Mate!</h2>
      <br />
      <form action="/login" method="post" novalidate class="needs-validation">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            name="user[username]"
            placeholder="Enter Your Username here...."
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks Great!</div>
          <div class="invalid-feedback">Something is Off !?</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            name="user[password]"
            placeholder="Enter Your Password here...."
            type="password"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks Great!</div>
          <div class="invalid-feedback">Something is Off !?</div>
        </div>
        <br />
        <button class="btn btn-dark add-btn">Login</button>
        <br />
      </form>
    </div>
  </div>
</body>
